@include media-breakpoint-down(sm) {
    .o_delivery_compute {
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
#delivery_method .o_delivery_carrier_select:hover {
    cursor: pointer;
}
