.o_wprofile_slides_card {
    padding: 8px;
    max-height: 68px;
    min-width: 350px;
}
.o_wprofile_slides_title {
    top: -15px;
    padding-left: 76px;
}

// Quest - Course Card
.o_wprofile_slides_course_card_body {
    cursor: pointer;
    height: 66px;
    .o_wprofile_slides_course_img {
        position: absolute;
        padding: 0px;
        top: 8px;
        left: 8px;
        width: 66px;
        height: 66px;
    }
    .o_wprofile_slide_course_rating {
        position: absolute;
        top: 13px;
        right: 16px;
    }
    .o_wprofile_slide_course_progress {
        position: absolute;
        bottom: 4px;
        width: 100%;
        padding-left: 88px;
        .o_wprofile_slide_course_progress_bar {
            background-color: lightgray;
            top: 2px;
            padding: 0px;
        }
        .o_wprofile_slide_course_progress_value {
            min-width: 70px;
            text-align: right;
        }
    }
}
